body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.tabuleiro{
    width: 600px;

    margin: 30px auto;

    display: grid;
/* transforma o tabuleiro em uma grade */
    grid-template-columns: repeat(4, 1fr);
/* as cartas ficam organizadas em linhas e colunas */
    gap: 10px;
}

.carta{
    height: 120px;

    background-color: blue;

    border-radius: 10px;

    display: flex;

    justify-content: center;

    align-items: center;

    color: white;

    font-size: 40px;

    transition: 0.3s;
}

.carta:hover{

    transform: scale(1.05);
}

button{
    padding: 10px 20px;

    border: none;

    border-radius: 8px;

    background-color: blue;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{
    
    transform: scale(1.05);
}